* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  padding: 2.5rem;
}

.header {
  padding: 10px;
  background-color: firebrick;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.header h1 {
  font-size: 25px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.container {
  display: flex;
}

/* ----- Sidebar ----- */
.sidebar {
  width: 40vw;
  height: auto;
  background-color: #2d3439;
}

.sidebar-heading {
  font-size: 2rem;
  margin-top: 3rem;
  color: #fff;
  text-align: center;
}

/* ----- Map ----- */
.map {
  width: 60vw;
  height: 90vh;
  position: relative;
}

.location-icon {
  font-size: 2rem;
  color: red;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h2 {
  text-align: center;
}

/* ----- Location Info ----- */
.location-info {
  /* position: absolute; */
  /* bottom: 30%; */
  width: 100%;
  min-height: auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.location-info li {
  padding: 5px 0;
}
